version: '2'
services:
  main:
    environment:
        - DISPLAY
    privileged: true
    network_mode: "host"
    image: "d1alogo/android-emulator-x11:nexusA8"
    devices:
        - "/dev/snd"
    volumes:
        - "/usr/lib:/usr/lib"
        - "/usr/share/X11/xkb"
        - "/etc/localtime:/etc/localtime"
        - "/etc/pulse"
        - "/run/user/${USER_GID}/pulse:/run/pulse:ro"
        - "/var/run/dbus:/var/run/dbus"
        - "/tmp/.X11-unix:/tmp/.X11-unix"
